---
import Head from '../../components/Head.astro'
import Header from '../../components/Header.astro'
---

<html lang="en">
  <head>
    <Head title="Blog | BRAZY" description="desc" image="" />
  </head>
  <body class="mx-auto max-w-2xl px-4">
    <Header />
  </body>
</html>
