@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Major Mono Display'),
    url('/fonts/major-mono-display-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/major-mono-display-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Train One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Train One'),
    url('../fonts/train-one-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/train-one-v13-latin-regular.woff') format('woff');
}

.nickname {
  font-family: 'Train One', cursive;
  animation: unfade 0.3s ease-in;
}

:root {
  --s: 8;
  --h: 40;
  --w: 234.84;
  --speed: 2s;
  background-color: #121212;
  color: #fff;
  font-family: 'system-ui', sans-serif;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #121212;
}

body::-webkit-scrollbar-thumb {
  background-color: #35363a8c;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #41424785;
}

.active {
  width: 100%;
  height: 4px;
  background-color: #a786ff;
  border-radius: 2px;
}

.link:hover + .inactive {
  width: 100%;
  height: 4px;
  background-color: #a786ff;
  border-radius: 2px;
  transition: width 0.37s ease;
}

.inactive {
  margin: 0 auto;
  width: 0%;
  height: 4px;
  background-color: #a786ff;
  border-radius: 2px;
  transition: width 0.3s ease-out;
  transform: translateZ(0);
}

.rainbow {
  font-family: 'Major Mono Display', monospace;
  animation: rainbow 20s steps(10) infinite, unfade 0.3s ease-in;
}

@keyframes rainbow {
  0%,
  100% {
    color: #ff4a4a;
  }
  10% {
    color: #ffa46f;
  }
  20% {
    color: #fcff43;
  }
  30% {
    color: #bdff67;
  }
  40% {
    color: #53ffda;
  }
  50% {
    color: #53c0ff;
  }
  60% {
    color: #5e53ff;
  }
  70% {
    color: #6453ff;
  }
  80% {
    color: #ce53ff;
  }
  90% {
    color: #ff53ff;
  }
}

.name {
  font-family: 'Major Mono Display', monospace;
  animation: unfade 0.3s ease-in;
}

@keyframes unfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide {
  width: calc(var(--w) * 1px);
  height: calc(var(--h) * 1px);
  line-height: calc(var(--h) * 1px);
}

.slide > ul {
  animation: slide calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}

.slide > ul li {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  animation: liSlide calc(var(--speed)) infinite;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--s) * var(--w) * -1px), 0);
  }
}

@keyframes liSlide {
  0% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(calc(var(--w) * -1px), 0);
  }
}

.logo {
  top: 0px;
  transition: top 0.5s linear;
}

.under {
  left: 6px;
  top: 80px;
  box-shadow: 0px 34px 4px 4px #000;
  transform: scale(1.25, 0.45);
  transition: top 0.5s linear, box-shadow 0.5s linear;
}

.updown:hover .logo {
  top: -20px;
  transition: top 0.5s linear;
}

.updown:hover .under {
  top: 100px;
  box-shadow: 0px 0px 0px 0px #000;
  transition: top 0.5s linear, box-shadow 0.5s linear;
}

.vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
