<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>404: Not Found</title>
    <style>
      :root {
        background-color: #121212;
        color: #fff;
      }

      .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 30px;
      }

      .error {
        font-weight: 700;
        color: #59c3ff;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 class="main">
        <img width="300" height="300" src="/favicon.svg" alt="favicon" />
        <span><span class="error">404: </span>Not Found</span>
      </h1>
    </main>
  </body>
</html>
