---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
---

<html lang="en">
  <head>
    <Head
      title="404 - Not Found"
      description=""
      image=""
    />
  </head>
  <body class="mx-auto max-w-2xl px-4">
    <Header />
    <main
      class="mt-48 grid justify-items-center sm:mt-64"
    >
      <h1 class="text-center text-[clamp(1.75rem,8vmin,3.5rem)] font-semibold">
        404
      </h1>
      <p
        class="text-inaccessible text-center text-[clamp(1.75rem,8vmin,3.5rem)] font-semibold"
      >
        not found
      </p>
    </main>
  </body>
</html>
