---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="BRAZY | BLOG"
      description="My thoughts about tech and everything else."
    />
  </head>
  <body class="min-h-screen flex flex-col max-w-[700px] mx-auto px-2">
    <Header />
    <h1 class="font-train text-4xl text-gray-100 text-center mt-10">
      BRAZY<span class="text-[#a786ff]">'</span>S BLOG
    </h1>
    <main>
      <section>
        <ul class="grid gap-10 mt-10 mb-10">
          {
            posts.map((post) => (
              <li>
                <a href={post.url + `/`} rel="prefetch">
                  <img
                    class="rounded-sm"
                    width="684"
                    height="342"
                    src={post.frontmatter.heroImage}
                    alt="Illustration by Vladislav Boichenko"
                  />
                  <h2 class="text-3xl font-bold text-gray-200 hover:text-[#a786ff] ease-out duration-300 mt-4">
                    {post.frontmatter.title}
                  </h2>
                </a>
                <p class="text-gray-400">
                  <time>{post.frontmatter.pubDate}</time>
                  {post.frontmatter.updatedDate && (
                    <span>
                      • Updated:
                      <time>{post.frontmatter.updatedDate}</time>
                    </span>
                  )}
                </p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
