---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="BRAZY'S BLOG"
      description="My thoughts about tech and everything else."
      image="/blog.png"
    />
    <link
      rel="preload"
      href="/fonts/train.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body class="mx-auto flex min-h-screen max-w-[700px] flex-col px-2">
    <Header />
    <h1 class="mt-10 text-center font-train text-4xl text-gray-100">
      BRAZY<span class="text-[#a786ff]">'</span>S BLOG
    </h1>
    <main>
      <section>
        <div class="mt-10 mb-10 grid gap-10">
          {
            posts.map((post) => (
              <a class="rounded-[20px]" href={post.url + `/`} rel="prefetch">
                <div class="blog-post rounded-[20px] p-2 pb-5 transition-colors duration-300 ease-linear hover:bg-[#202020] min-[420px]:p-5 min-[600px]:p-10">
                  <Icon
                    class="w-max-[604px] h-max-[302px] rounded-[20px]"
                    name={post.frontmatter.svg}
                    alt="Illustration by Vladislav Boichenko"
                  />
                  <h2 class="blog-post-title ease-cubic mt-4 text-3xl font-bold text-gray-200 transition-colors duration-300">
                    {post.frontmatter.title}
                  </h2>
                  <p class="mt-1 text-gray-400">
                    <time>{post.frontmatter.pubDate}</time>
                    {post.frontmatter.updatedDate && (
                      <span>
                        (Updated:
                        <time>{post.frontmatter.updatedDate}</time>)
                      </span>
                    )}
                  </p>
                </div>
              </a>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
