---
---

<h2 class="mt-10 text-center text-xl font-bold text-gray-200">MY STORY</h2>
<div class="mt-10 grid gap-10">
  <div class="grid grid-flow-col gap-2">
    <h3
      class="vertical self-center text-3xl font-bold text-gray-300 min-[540px]:text-4xl"
    >
      NOW
    </h3>
    <p class="rounded-[40px] bg-[#59c3ff] p-5 text-lg text-[#000]">
      My name is Vladislav Boichenko. I am a web developer and UI/UX designer.
      Right now, I am studying Information Systems and Programming on a
      four-year plan.
      <br />
      Although my current favorite technologies are listed <a
        class="underline underline-offset-2"
        href="#tech">here</a
      >, I simply believe it's not that important, because programming
      languages, libraries, frameworks, etc. - they come and go. But the core
      knowledge of programming principles and design patterns stays relevant for
      a lifetime. I believe that learning and gaining a deep understanding of a
      subject are the way to go in this modern, informationally overflowed
      world. So here I am, trying to grasp everything around me while
      maintaining balance.
    </p>
  </div>
  <div class="grid grid-flow-col gap-2">
    <h3
      class="vertical order-1 self-center text-3xl font-bold text-gray-300 min-[540px]:text-4xl"
    >
      PAST
    </h3>
    <p class="rounded-[40px] bg-[#00ffaa] p-5 text-lg text-[#000]">
      I was born and raised in Russia. My dad got me my first PC in 2003. It was
      fun. But the real fun began around 2011, when we got the internet. I was
      amazed by it, even though at the time I could barely comprehend the amount
      of possibilities that internet offers. Since then, I've been heavily into
      computers. I did a lot of gaming and learned the ins and outs of a PC and
      various software. Later, my life led me down the path of esports, but
      something inside of me was still missing. After some time, I realized it
      wasn't for me, and I've begun soul-searching. In July 2021, I got my
      master's degree in economics. In April 2022, I found my passion: web
      development. Since that time, I've been grinding tirelessly, and I'm
      finally ready to present myself to the world. My lifelong mission would be
      to make the Web better.
    </p>
  </div>
  <div class="flex gap-2">
    <h3
      class="vertical self-center text-3xl font-bold text-gray-300 min-[540px]:text-4xl"
    >
      FUTURE
    </h3>
    <div
      class="grid w-full items-center rounded-[40px] bg-[#fcdc00] p-5 text-lg text-[#000]"
    >
      <p class="italic">"Always bet on JS"</p>
      <p class="justify-self-end">- Brendan Eich</p>
    </div>
  </div>
</div>
