---
---

<h2
  class="min-w-max text-2xl min-[442px]:text-3xl min-[646px]:text-4xl font-bold mt-20 px-2"
>
  ABOUT ME
</h2>
<img
  class="max-[442px]:w-[160px] max-[646px]:w-[190px] px-2"
  src="/divider.svg"
  alt="Divider"
/>
<p class="text-2xl font-medium mx-auto max-w-[980px] mt-8 px-2">
  Since I was a little kid I've been heavily into computers. Did a whole lot of
  gaming and learning the ins and outs of a PC and various software. Later my
  life took me on a path of esports. But something inside of me was missing. So
  after some time I've realized, it wasn't for me and I've begun soul-searching.
  In April 2022, I found my passion - web development. Since that time I've been
  grinding tirelessly and I'm finally ready to present myself to the world. My
  lifelong mission would be to make the web dark. THANK YOU!
</p>
