---
---

<h2 class="flex gap-4 text-xl font-bold mt-20">
  <span class="self-center h-[4px] w-full bg-[#59C3FF] rounded-l-full"></span>
  <span class="min-w-fit">ABOUT ME</span>
  <span class="self-center h-[4px] w-full bg-[#59C3FF] rounded-r-full"></span>
</h2>
<div></div>
<p class="mt-8">
  Since I was a little kid, I've been heavily into computers. Did a whole lot of
  gaming and learning the ins and outs of a PC and various software. Later, my
  life took me on a path of esports. But something inside of me was missing. So
  after some time I've realized, it wasn't for me and I've begun soul-searching.
  In April 2022, I found my passion - web development. Since that time I've been
  grinding tirelessly and I'm finally ready to present myself to the world. My
  lifelong mission would be to make the web dark. Thank You!
</p>
