---
---

<h4 class="text-xl font-bold text-gray-200 text-center mt-10">
  MY STORY
</h4>
<div class="grid gap-10 mt-10">
  <div class="grid grid-flow-col gap-2">
    <h5 class="vertical self-center text-4xl font-bold text-gray-300">NOW</h5>
    <p class="bg-[#d8c9ff] text-[#1b253f] text-lg p-5 rounded-[40px]">
      My name is Vladislav Boichenko. I am a web developer and UI/UX designer.
      Right now, I am studying Information Systems and Programming on a
      four-year plan.
      <br />
      Although my current favorite technologies are listed here, I simply believe
      it's not that important, because programming languages, libraries, frameworks,
      etc. - they come and go. But the core knowledge of programming principles and
      design patterns stays relevant for a lifetime. I believe that learning and
      gaining a deep understanding of a subject are the way to go in this modern,
      informationally overflowed world. So here I am, trying to grasp everything
      around me while maintaining balance.
    </p>
  </div>
  <div class="grid grid-flow-col gap-2">
    <h5 class="vertical self-center text-4xl font-bold text-gray-300 order-1">
      PAST
    </h5>
    <p class="bg-[#d8c9ff] text-[#1b253f] text-lg p-5 rounded-[40px]">
      I was born and raised in Russia. My dad got me my first PC in 2003. It was
      fun. But the real fun began around 2011, when we got the internet. I was
      amazed by it, even though at the time I could barely comprehend the amount
      of possibilities that internet offers. Since then, I've been heavily into
      computers. I did a lot of gaming and learned the ins and outs of a PC and
      various software. Later, my life led me down the path of esports, but
      something inside of me was still missing. After some time, I realized it
      wasn't for me, and I've begun soul-searching. In July 2021, I got my master's
      degree in economics. In April 2022, I found my passion: web development.
      Since that time, I've been grinding tirelessly, and I'm finally ready to
      present myself to the world. My lifelong mission would be to make the Web
      better.
    </p>
  </div>
  <div class="grid grid-flow-col gap-2">
    <h5 class="vertical self-center text-4xl font-bold text-gray-300">
      FUTURE
    </h5>
    <div
      class="grid items-center bg-[#d8c9ff] text-[#1b253f] text-lg p-5 rounded-[40px]"
    >
      <p class="italic">
        "The illiterate of the 21st century will not be those who cannot read or
        write; they will be those who cannot learn, unlearn, and relearn."
      </p>
      <p class="justify-self-end">- Alvin Toffler</p>
    </div>
  </div>
</div>
