---
import { Icon } from "astro-icon";
const today = new Date();
---

<footer
  class="mt-auto grid justify-items-center gap-4 rounded-t-[20px] bg-[#202020] py-4 text-gray-100"
>
  <a
    class="text-2xl font-bold duration-500 ease-cubic hover:text-[#a786ff]"
    href="mailto:me@brazy.one">me@brazy.one</a
  >
  <div class="flex gap-4">
    <a
      class="links gh-container grid"
      href="https://github.com/Brazy4L"
      target="_blank"
      rel="noopener"
      aria-label="GitHub"
    >
      <div
        class="gh col-start-1 row-start-1 h-[50px] w-[50px] transition-opacity duration-500 ease-cubic"
      >
      </div>
      <Icon
        class="col-start-1 row-start-1 z-10 hover:text-[#000] duration-500 ease-cubic"
        width="50px"
        height="50px"
        name="simple-icons:github"
      />
    </a>
    <a
      class="duration-500 ease-cubic hover:text-[#1d9bf0]"
      href="https://twitter.com/Brazy4Lulz"
      target="_blank"
      rel="noopener"
      aria-label="Twitter"
    >
      <Icon width="50px" height="50px" name="simple-icons:twitter" />
    </a>
  </div>
  <div class="text-center">
    © {today.getFullYear()} Vladislav Boichenko
  </div>
</footer>
