---
const today = new Date();
---

<footer>
  <div><a href="mailto:me@brazy.one">me@brazy.one</a></div>
  <div>
    <a
      href="https://github.com/Brazy4L"
      target="_blank"
      rel="noopener noreferrer">Github</a
    >
    <a
      href="https://www.linkedin.com/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >
    <a
      href="https://twitter.com/BrazyJS"
      target="_blank"
      rel="noopener noreferrer">Twitter</a
    >
  </div>
  <div>
    &copy; {today.getFullYear()} Vladislav Boichenko. All rights reserved.
  </div>
</footer>
