---
import { Icon } from 'astro-icon';
const today = new Date();
---

<footer
  class="bg-[#202020] text-gray-100 grid justify-items-center rounded-t-[40px] mt-auto py-4 gap-4"
>
  <a
    class="text-2xl font-bold hover:text-[#a786ff] duration-500 ease-cubic"
    href="mailto:me@brazy.one">me@brazy.one</a
  >
  <div class="flex gap-4">
    <a
      class="links gh-container grid"
      href="https://github.com/Brazy4L"
      target="_blank"
      rel="noopener"
      aria-label="GitHub"
    >
      <div
        class="gh col-start-1 row-start-1 transition-opacity duration-500 ease-cubic w-[50px] h-[50px]"
      >
      </div>
      <Icon
        class="col-start-1 row-start-1 z-10 hover:text-[#000] duration-500 ease-cubic"
        width="50px"
        height="50px"
        name="simple-icons:github"
      />
    </a>
    <a
      class="hover:text-[#1d9bf0] duration-500 ease-cubic"
      href="https://twitter.com/BRAZY4lulz"
      target="_blank"
      rel="noopener"
      aria-label="Twitter"
    >
      <Icon width="50px" height="50px" name="simple-icons:twitter" />
    </a>
  </div>
  <div class="text-lg text-center">
    © {today.getFullYear()} Vladislav Boichenko.
    <p>All rights reserved.</p>
  </div>
</footer>
