---
const today = new Date();
---

<footer
  class="bg-[#202020] h-[250px] grid justify-center items-end rounded-t-full mt-auto pb-5"
>
  <a
    class="w-max grid justify-self-center text-2xl min-[500px]:text-4xl font-bold hover:text-[#59C3FF] ease-out duration-300"
    href="mailto:me@brazy.one">me@brazy.one</a
  >
  <p class="grid grid-flow-col justify-center gap-4">
    <a
      class="hover:scale-110 ease-out duration-300"
      href="https://github.com/Brazy4L"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="github.svg" alt="" />
    </a>
    <a
      class="hover:scale-110 ease-out duration-300"
      href="https://twitter.com/BrazyJS"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="twitter.svg" alt="" />
    </a>
  </p>
  <p class="min-[425px]:text-lg px-2 max-[381px]:w-[225px] text-center">
    © {today.getFullYear()} Vladislav Boichenko. All rights reserved.
  </p>
</footer>
