---
const today = new Date();
---

<footer
  class="bg-[#202020] text-gray-100 grid justify-items-center rounded-t-[40px] mt-auto py-4 gap-4"
>
  <a
    class="text-2xl font-bold hover:text-[#a786ff] ease-out duration-300"
    href="mailto:me@brazy.one">me@brazy.one</a
  >
  <p class="flex gap-4">
    <a
      class="hover:scale-110 ease-out duration-300"
      href="https://github.com/Brazy4L"
      target="_blank"
      rel="noopener noreferrer"
      ><img width="50" height="50" src="/github.svg" alt="github" />
    </a>
    <a
      class="hover:scale-110 ease-out duration-300"
      href="https://twitter.com/BrazyJS"
      target="_blank"
      rel="noopener noreferrer"
      ><img width="50" height="50" src="/twitter.svg" alt="twitter" />
    </a>
  </p>
  <div class="text-lg text-center">
    © {today.getFullYear()} Vladislav Boichenko.
    <p>All rights reserved.</p>
  </div>
</footer>
