---
---

<header class="flex justify-between py-9 px-2">
  <h2 class="flex h-[56px] items-center">
    <a
      class="hover:text-[#59C3FF] ease-out duration-300 font-black text-4xl"
      href="/blog">BRAZY</a
    >
  </h2>
  <nav class="font-bold flex items-center">
    <a class="hover:text-[#59C3FF] ease-out duration-300" href="/">Main</a
    >
  </nav>
</header>
