---
---

<header>
  <h2>
    <a href="/">VLADISLAV BOICHENKO</a>
  </h2>
  <nav>
    <a href="/blog">Blog</a>
    <a href="/cv">CV</a>
    <a href="">About Me</a>
    <a href="">Projects</a>
  </nav>
</header>
