---
const path = new URL(Astro.request.url).pathname;
---

<header
  class="text-xl font-bold text-gray-100 bg-[#202020] rounded-b-[40px] px-5"
>
  <nav class="py-7 flex justify-between items-center">
    <div>
      <a class="link" href="/" rel="prefetch">BRAZY</a>
      <div class={path === '/' ? 'active' : 'inactive'}></div>
    </div>
    <div>
      <a class="link" href="/blog/" rel="prefetch">BLOG</a>
      <div class={path === '/blog/' ? 'active' : 'inactive'}></div>
    </div>
  </nav>
</header>
