---
---

<header class="font-bold text-xl flex justify-between py-9 h-[104px]">
  <h2>
    <a class="link" href="/">BRAZY</a>
    <div></div>
  </h2>
  <nav>
    <a class="link" href="/blog/">BLOG</a>
    <div></div>
  </nav>
</header>
<script>
  import '../js/nav.js';
</script>
