---
---

<header class="flex justify-between py-9 px-2">
  <h2 class="flex h-[56px] items-center">
    <a class="text-xl font-black min-[676px]:text-2xl min-[750px]:text-3xl min-[824px]:text-4xl" href="/">VLADISLAV BOICHENKO</a>
  </h2>
  <nav class="w-[348px] font-bold flex justify-evenly items-center min-[265px]:gap-4">
    <a href="/blog">Blog</a>
    <a href="/cv">CV</a>
    <a class="w-max max-[409px]:hidden" href="">About Me</a>
    <a class="max-[340px]:hidden" href="">Projects</a>
  </nav>
</header>
