---
---

<header class="flex justify-between py-9 px-2">
  <h2 class="flex h-[56px] items-center">
    <a class="hover:text-[#59C3FF] ease-out duration-300 text-xl font-black max-[426px]:w-min min-[530px]:text-2xl min-[605px]:text-3xl min-[760px]:text-4xl" href="/">VLADISLAV BOICHENKO</a>
  </h2>
  <nav class="font-bold flex items-center gap-2 min-[300px]:gap-14">
    <a class="hover:text-[#59C3FF] ease-out duration-300" href="/blog">Blog</a>
    <a class="hover:text-[#59C3FF] ease-out duration-300" href="/cv">CV</a>
  </nav>
</header>
