---
const path = new URL(Astro.request.url).pathname;
---

<header
  class="rounded-b-[20px] bg-[#202020] px-5 text-xl font-bold text-gray-100"
>
  <nav class="flex items-center justify-between py-7">
    <div>
      <a class="peer/home" href="/" rel="prefetch">BRAZY</a>
      <div
        class={"h-[4px] bg-[#a786ff] rounded-[2px] peer-hover/home:scale-x-100".concat(
          path === "/"
            ? " scale-x-100"
            : " scale-x-0 mx-auto transition-transform duration-300 ease-cubic"
        )}
      >
      </div>
    </div>
    <div>
      <a class="peer/blog" href="/blog/" rel="prefetch">BLOG</a>
      <div
        class={"h-[4px] bg-[#a786ff] rounded-[2px] peer-hover/blog:scale-x-100".concat(
          path === "/blog/"
            ? " scale-x-100"
            : " scale-x-0 mx-auto transition-transform duration-300 ease-cubic"
        )}
      >
      </div>
    </div>
  </nav>
</header>
