---
---

<header class="font-bold text-xl flex justify-between py-9">
  <h2>
    <a class="hover:text-[#59C3FF] ease-out duration-300" href="/">BRAZY</a>
  </h2>
  <nav>
    <a class="hover:text-[#59C3FF] ease-out duration-300" href="/blog">Blog</a>
  </nav>
</header>
