---
---

<h1
  class="my-7 font-extrabold min-[340px]:text-lg min-[374px]:text-xl min-[442px]:text-2xl min-[544px]:text-3xl min-[646px]:text-4xl px-2 max-w-[289px] mx-auto min-[340px]:max-w-[323px] min-[374px]:max-w-[357px] min-[442px]:max-w-[425px] min-[544px]:max-w-[527px] min-[646px]:max-w-[629px]"
>
  Hello 🖖, I'm Vladislav Boichenko, Web Developer and UI/UX Designer
</h1>
<img class="mx-auto px-2" src="/undraw_hello.svg" alt="Hello! *wave*" />
