---
---

<div class="w-full min-[632px]:flex">
  <div class="updown grid w-full">
    <div class="flex justify-self-center self-center rounded-full">
      <div class="absolute">
        <div
          class="under relative w-[188px] h-[188px] bg-[#202020] -z-10 rounded-2xl"
        >
        </div>
      </div>
      <svg
        class="logo relative"
        width="200"
        height="200"
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_42_4)">
          <path
            d="M193.684 92.6316C193.684 117.757 183.814 141.854 166.245 159.621C148.676 177.387 124.847 187.368 100 187.368C75.1534 187.368 51.3245 177.387 33.7553 159.621C16.1861 141.854 6.3158 117.757 6.3158 92.6316L100 92.6316H193.684Z"
            fill="#59C3FF"></path>
          <path
            d="M178.952 92.6316C178.952 82.2641 176.91 71.9981 172.943 62.4197C168.975 52.8414 163.16 44.1383 155.829 36.8074C148.498 29.4764 139.795 23.6612 130.217 19.6937C120.639 15.7262 110.373 13.6842 100.005 13.6842C89.6375 13.6842 79.3715 15.7262 69.7931 19.6937C60.2148 23.6612 51.5117 29.4764 44.1808 36.8074C36.8498 44.1383 31.0346 52.8414 27.0671 62.4197C23.0996 71.9981 21.0576 82.2641 21.0576 92.6316L100.005 92.6316H178.952Z"
            fill="#7342FF"></path>
          <circle cx="100.005" cy="93.6842" r="58.9474" fill="#FF7A00"></circle>
          <path
            d="M135.911 129.458C123.937 147.725 76.0385 147.725 64.064 129.458C52.0895 111.19 67.3589 74.5042 99.9876 44.2105C132.899 72.4143 147.886 111.19 135.911 129.458Z"
            fill="#FFA800"></path>
          <path
            d="M80.4915 99.3569C78.5632 102.609 75.2288 96.6582 75.2288 96.6582C75.2288 96.6582 72.2745 102.587 74.5504 114.445C76.8263 126.303 83.6539 135.789 104.137 135.789C124.62 135.789 125.225 132.314 129.172 123.932C133.119 115.549 127.856 91.2607 121.278 80.4659C121.278 80.4659 115.516 93.1008 113.24 90.7292C110.964 88.3576 101.496 62.7778 97.5953 64.2736C93.6947 65.7694 82.4198 96.105 80.4915 99.3569Z"
            fill="#FFF500"></path>
        </g>
      </svg>
    </div>
  </div>
  <div class="grid gap-3 z-10">
    <h1
      class="name max-[429px]:max-w-min min-[430px]:w-[399.609px] text-3xl min-[292px]:text-4xl min-[350px]:text-5xl min-[429px]:text-6xl mx-auto min-[632px]:ml-auto text-center min-[632px]:text-end"
    >
      Vladislav Boichenko
    </h1>
    <div
      class="slide max-[631px]:mx-auto min-[632px]:ml-auto bg-gray-200 text-gray-900 overflow-hidden text-2xl font-extrabold"
    >
      <ul class="flex">
        <li>SELF-TAUGHT</li>
        <li>TREMENDOUS</li>
        <li>EXTRAORDINARY</li>
        <li>SELF-AWARE</li>
        <li>BEAUTIFUL</li>
        <li>SAVAGE</li>
        <li>SELF-TAUGHT</li>
      </ul>
    </div>
    <div
      class="grid grid-flow-col w-fit max-[631px]:mx-auto min-[632px]:ml-auto"
    >
      <span
        class="rainbow text-[72px] leading-[64px] min-[292px]:text-[84px] min-[292px]:leading-[72px] min-[350px]:text-[95px] min-[350px]:leading-[80px]"
        >&</span
      >
      <div
        class="w-max text-2xl min-[292px]:text-3xl min-[350px]:text-4xl font-light text-gray-500"
      >
        <h2>Web Developer</h2>
        <h3>UI/UX Designer</h3>
      </div>
    </div>
  </div>
</div>
