---
---

<h1 class="text-2xl font-bold my-7 w-fit mx-auto">
  Hello 🖖, I'm Vladislav Boichenko, <p>Web Developer and UI/UX Designer</p>
</h1>
<img
  width="884"
  height="383.359"
  src="/undraw_hello.svg"
  alt="hello illustration from https://undraw.co/"
/>
