---
import { Icon } from "astro-icon";
---

<div class="my-20 w-full min-[632px]:flex">
  <div class="updown grid w-full cursor-pointer">
    <div class="flex justify-self-center rounded-full">
      <Icon
        name="logo"
        class="logo relative"
        width="200"
        height="200"
        alt="Logo by Vladislav Boichenko"
      />
      <div class="absolute">
        <div class="particle"></div>
        <div
          class="under relative -z-10 h-[188px] w-[188px] rounded-2xl bg-[#202020]"
        >
          <div
            class="logo-shadow relative top-[155px] mx-auto h-[1px] w-[80px] bg-[#161616]"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="z-10 grid gap-8">
    <h1
      class="mx-auto text-center font-major text-3xl text-white max-[429px]:max-w-min min-[292px]:text-4xl min-[350px]:text-5xl min-[429px]:text-6xl min-[430px]:w-[399.609px] min-[632px]:ml-auto min-[632px]:text-end"
    >
      Vladislav Boichenko
    </h1>
    <div
      class="grid w-fit grid-flow-col max-[631px]:mx-auto min-[632px]:ml-auto"
    >
      <span
        class="rainbow w-[53.281px] font-major text-[72px] leading-[64px] min-[292px]:w-[62.172px] min-[292px]:text-[84px] min-[292px]:leading-[72px] min-[350px]:w-[70.313px] min-[350px]:text-[95px] min-[350px]:leading-[80px]"
        >&</span
      >
      <div
        class="w-max text-2xl font-light text-gray-500 min-[292px]:text-3xl min-[350px]:text-4xl"
      >
        <p>Web Developer</p>
        <p>UI/UX Designer</p>
      </div>
    </div>
  </div>
</div>
