---
import { Icon } from 'astro-icon';
---

<div class="w-full min-[632px]:flex mt-10">
  <div class="updown grid w-full cursor-pointer">
    <div class="flex justify-self-center self-center rounded-full">
      <Icon
        name="logo"
        class="logo relative"
        width="200"
        height="200"
        alt="Logo by Vladislav Boichenko"
      />
      <div class="absolute">
        <div
          class="under relative w-[188px] h-[188px] bg-[#202020] -z-10 rounded-2xl"
        >
          <div
            class="logo-shadow relative mx-auto top-[155px] w-[80px] h-[1px] bg-[#161616]"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid gap-3 z-10">
    <h1
      class="font-major text-white max-[429px]:max-w-min min-[430px]:w-[399.609px] text-3xl min-[292px]:text-4xl min-[350px]:text-5xl min-[429px]:text-6xl mx-auto min-[632px]:ml-auto text-center min-[632px]:text-end"
    >
      Vladislav Boichenko
    </h1>
    <div
      class="slide max-[631px]:mx-auto min-[632px]:ml-auto bg-gray-200 text-gray-900 overflow-hidden text-2xl font-extrabold"
    >
      <ul class="flex">
        <li class="bg-gray-200">AMAZING</li>
        <li class="bg-gray-200">SELF-TAUGHT</li>
        <li class="bg-gray-200">TREMENDOUS</li>
        <li class="bg-gray-200">EXTRAORDINARY</li>
        <li class="bg-gray-200">SELF-AWARE</li>
        <li class="bg-gray-200">BEAUTIFUL</li>
        <li class="bg-gray-200">SAVAGE</li>
        <li class="bg-gray-200">LIT</li>
        <li class="bg-gray-200">AMAZING</li>
      </ul>
    </div>
    <div
      class="grid grid-flow-col w-fit max-[631px]:mx-auto min-[632px]:ml-auto"
    >
      <span
        class="rainbow font-major w-[53.281px] min-[292px]:w-[62.172px] min-[350px]:w-[70.313px] text-[72px] leading-[64px] min-[292px]:text-[84px] min-[292px]:leading-[72px] min-[350px]:text-[95px] min-[350px]:leading-[80px]"
        >&</span
      >
      <div
        class="w-max text-2xl min-[292px]:text-3xl min-[350px]:text-4xl font-light text-gray-500"
      >
        <p>Web Developer</p>
        <p>UI/UX Designer</p>
      </div>
    </div>
  </div>
</div>
