---
---

<div class="w-full min-[632px]:flex">
  <div class="grid w-full">
    <svg
      class="shdw flex justify-self-center self-center rounded-full"
      width="200"
      height="200"
      viewBox="0 0 200 200"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_42_4)">
        <path
          d="M193.684 92.6316C193.684 117.757 183.814 141.854 166.245 159.621C148.676 177.387 124.847 187.368 100 187.368C75.1534 187.368 51.3245 177.387 33.7553 159.621C16.1861 141.854 6.3158 117.757 6.3158 92.6316L100 92.6316H193.684Z"
          fill="#59C3FF"></path>
        <path
          d="M178.952 92.6316C178.952 82.2641 176.91 71.9981 172.943 62.4197C168.975 52.8414 163.16 44.1383 155.829 36.8074C148.498 29.4764 139.795 23.6612 130.217 19.6937C120.639 15.7262 110.373 13.6842 100.005 13.6842C89.6375 13.6842 79.3715 15.7262 69.7931 19.6937C60.2148 23.6612 51.5117 29.4764 44.1808 36.8074C36.8498 44.1383 31.0346 52.8414 27.0671 62.4197C23.0996 71.9981 21.0576 82.2641 21.0576 92.6316L100.005 92.6316H178.952Z"
          fill="#7342FF"></path>
        <circle cx="100.005" cy="93.6842" r="58.9474" fill="#FF7A00"></circle>
        <path
          d="M135.911 129.458C123.937 147.725 76.0385 147.725 64.064 129.458C52.0895 111.19 67.3589 74.5042 99.9876 44.2105C132.899 72.4143 147.886 111.19 135.911 129.458Z"
          fill="#FFA800"></path>
        <path
          d="M80.4915 99.3569C78.5632 102.609 75.2288 96.6582 75.2288 96.6582C75.2288 96.6582 72.2745 102.587 74.5504 114.445C76.8263 126.303 83.6539 135.789 104.137 135.789C124.62 135.789 125.225 132.314 129.172 123.932C133.119 115.549 127.856 91.2607 121.278 80.4659C121.278 80.4659 115.516 93.1008 113.24 90.7292C110.964 88.3576 101.496 62.7778 97.5953 64.2736C93.6947 65.7694 82.4198 96.105 80.4915 99.3569Z"
          fill="#FFF500"></path>
      </g>
    </svg>
  </div>
  <div class="grid gap-3">
    <h1
      class="name max-[429px]:max-w-min min-[430px]:w-[399.609px] text-3xl min-[292px]:text-4xl min-[350px]:text-5xl min-[429px]:text-6xl mx-auto min-[632px]:ml-auto text-center min-[632px]:text-end"
    >
      Vladislav Boichenko
    </h1>
    <div
      class="slide max-[631px]:mx-auto min-[632px]:ml-auto bg-slate-200 text-[#080808] overflow-hidden text-2xl font-extrabold"
    >
      <ul class="flex">
        <li>SELF-TAUGHT</li>
        <li>TREMENDOUS</li>
        <li>EXTRAORDINARY</li>
        <li>SELF-AWARE</li>
        <li>BEAUTIFUL</li>
        <li>SAVAGE</li>
        <li>SELF-TAUGHT</li>
      </ul>
    </div>
    <div
      class="grid grid-flow-col w-fit max-[631px]:mx-auto min-[632px]:ml-auto"
    >
      <svg
        class="max-[291px]:w-[56px] max-[291px]:h-[56px] max-[350px]:w-[63px] max-[350px]:h-[63px] self-end"
        width="71"
        height="71"
        viewBox="0 0 80 80"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_36_2)">
          <path
            d="M25.5381 0.585938C27.9951 0.585938 30.5186 0.868164 33.1084 1.43262C35.6982 1.96387 38.0557 2.91016 40.1807 4.27148C42.3389 5.63281 44.0986 7.49219 45.46 9.84961C46.8213 12.207 47.502 15.1953 47.502 18.8145C47.502 21.6699 46.9209 24.1768 45.7588 26.335C44.6299 28.4932 43.2021 30.4023 41.4756 32.0625C39.7822 33.6895 37.9229 35.1006 35.8975 36.2959C33.9053 37.458 32.0625 38.4707 30.3691 39.334C33.0586 41.2266 35.9141 43.1191 38.9355 45.0117C41.957 46.9043 45.0117 48.7471 48.0996 50.54C49.793 48.5146 51.3369 46.4395 52.7314 44.3145C54.126 42.1562 55.3379 40.0479 56.3672 37.9893C57.3965 35.9307 58.2266 33.9883 58.8574 32.1621C59.5215 30.3027 59.9531 28.6758 60.1523 27.2812C60.1855 27.2812 60.4844 27.2979 61.0488 27.3311C61.6133 27.3643 62.3438 27.4141 63.2402 27.4805C64.1699 27.5137 65.2158 27.5635 66.3779 27.6299C67.54 27.6963 68.7188 27.7627 69.9141 27.8291C72.7363 27.9619 75.9404 28.1279 79.5264 28.3271C78.3311 31.5146 76.8867 34.8018 75.1934 38.1885C74.4629 39.6494 73.6494 41.1934 72.7529 42.8203C71.8564 44.4473 70.8604 46.124 69.7646 47.8506C68.6689 49.5771 67.4902 51.3369 66.2285 53.1299C64.9668 54.8896 63.6221 56.6162 62.1943 58.3096C64.3857 59.4717 66.3945 60.5176 68.2207 61.4473C70.0801 62.377 71.707 63.1738 73.1016 63.8379C74.6953 64.6348 76.1562 65.332 77.4844 65.9297L66.3779 79.5264C64.9834 78.6963 63.4727 77.7334 61.8457 76.6377C60.418 75.708 58.7578 74.6123 56.8652 73.3506C54.9727 72.0557 52.8975 70.6113 50.6396 69.0176C47.4521 71.2754 43.999 73.085 40.2803 74.4463C36.5615 75.8408 32.5771 76.5381 28.3271 76.5381C24.4092 76.5381 20.7236 76.2061 17.2705 75.542C13.8506 74.9111 10.8623 73.832 8.30566 72.3047C5.74902 70.7773 3.72363 68.752 2.22949 66.2285C0.768555 63.7051 0.0380859 60.584 0.0380859 56.8652C0.0380859 54.541 0.50293 52.5322 1.43262 50.8389C2.39551 49.1123 3.65723 47.585 5.21777 46.2568C6.81152 44.9287 8.60449 43.7334 10.5967 42.6709C12.6221 41.5752 14.7139 40.4961 16.8721 39.4336C13.8838 35.9141 11.4766 32.4277 9.65039 28.9746C7.82422 25.5215 6.91113 22.2344 6.91113 19.1133C6.91113 16.623 7.22656 14.4482 7.85742 12.5889C8.52148 10.6963 9.38477 9.06934 10.4473 7.70801C11.5098 6.31348 12.7051 5.16797 14.0332 4.27148C15.3945 3.3418 16.7559 2.61133 18.1172 2.08008C19.5117 1.54883 20.8564 1.16699 22.1514 0.93457C23.4463 0.702148 24.5752 0.585938 25.5381 0.585938ZM39.1348 22.6992C39.1348 21.1055 38.6699 19.7773 37.7402 18.7148C36.8438 17.6523 35.6982 16.8223 34.3037 16.2246C32.9092 15.5937 31.3984 15.1621 29.7715 14.9297C28.1445 14.6641 26.6338 14.5312 25.2393 14.5312C24.21 14.5312 23.0645 14.6641 21.8027 14.9297C20.5742 15.1621 19.4121 15.5605 18.3164 16.125C17.2207 16.6895 16.291 17.4365 15.5273 18.3662C14.7969 19.2627 14.4316 20.375 14.4316 21.7031C14.4316 22.6328 14.6807 23.6289 15.1787 24.6914C15.6768 25.7207 16.374 26.8164 17.2705 27.9785C18.2002 29.1074 19.2959 30.2861 20.5576 31.5146C21.8193 32.71 23.2139 33.9219 24.7412 35.1504C26.6338 34.0215 28.4434 32.9258 30.1699 31.8633C31.9297 30.7676 33.457 29.7051 34.752 28.6758C36.0801 27.6133 37.1426 26.6006 37.9395 25.6377C38.7363 24.6416 39.1348 23.6621 39.1348 22.6992ZM11.3936 55.5703C11.3936 57.1641 11.7754 58.5088 12.5391 59.6045C13.3027 60.667 14.2988 61.5469 15.5273 62.2441C16.7891 62.9082 18.2168 63.3896 19.8105 63.6885C21.4043 63.9873 23.0479 64.1367 24.7412 64.1367C27.1318 64.1367 29.4395 63.7383 31.6641 62.9414C33.9219 62.1113 36.0967 60.999 38.1885 59.6045C35.2334 57.2139 32.2949 54.7402 29.373 52.1836C26.4844 49.5938 23.7451 46.9375 21.1553 44.2148C19.9932 44.8789 18.8311 45.6094 17.6689 46.4062C16.54 47.1699 15.4941 48.0166 14.5312 48.9463C13.6016 49.8428 12.8379 50.8555 12.2402 51.9844C11.6758 53.0801 11.3936 54.2754 11.3936 55.5703Z"
            class="rainbow"></path>
        </g>
      </svg>
      <div
        class="w-max text-2xl min-[292px]:text-3xl min-[350px]:text-4xl font-[300] text-slate-500"
      >
        <h2 class="">Web Developer</h2>
        <h3>UI/UX Designer</h3>
      </div>
    </div>
  </div>
</div>
