---
---

<h2>PROJECTS</h2>
<ul>
  <li>
    <img src="tictactoe.png" alt="Tic-tac-toe project's screenshot" />
    <a href="https://github.com/Brazy4L/tic-tac-toe"
      >Simple game of Tic-Tac-Toe</a
    >
  </li>
  <li>
    <img src="todo.png" alt="Todo project's screenshot" />
    <a href="https://github.com/Brazy4L/todo">Notes with Local Storage</a>
  </li>
</ul>
