---
---

<h2 class="flex gap-4 text-xl font-bold mt-20">
  <span class="self-center h-[4px] w-full bg-[#59C3FF] rounded-l-full"></span>
  <span class="min-w-fit">PROJECTS</span>
  <span class="self-center h-[4px] w-full bg-[#59C3FF] rounded-r-full"></span>
</h2>
<ul
  class="grid min-[450px]:grid-flow-col gap-6 justify-items-center items-center my-12"
>
  <li>
    <a
      class="hover:text-[#59C3FF] ease-out duration-300"
      href="https://github.com/Brazy4L/tic-tac-toe"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="mx-auto hover:-translate-y-3 hover:scale-110 ease-out duration-300"
        width="180"
        height="180"
        src="/tictactoe.png"
        alt="Tic-tac-toe project's screenshot"
      />
      Simple game of Tic-Tac-Toe
    </a>
  </li>
  <li>
    <a
      class="hover:text-[#59C3FF] ease-out duration-300"
      href="https://github.com/Brazy4L/todo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="mx-auto hover:-translate-y-3 hover:scale-110 ease-out duration-300"
        width="180"
        height="180"
        src="/todo.png"
        alt="Todo project's screenshot"
      />
      Notes with Local Storage
    </a>
  </li>
</ul>
