---
import { Icon } from "astro-icon";
---

<h2 class="mt-10 text-center text-xl font-bold text-gray-200">PROJECTS</h2>
<div class="mt-10 grid">
  <img
    class="rounded-t-[20px]"
    src="/somemore-3d.webp"
    alt="image of the project"
  />
  <div
    class="grid grid-cols-[1fr,min-content] items-center gap-x-4 gap-y-2 rounded-b-[20px] bg-[#eeeeee] p-5 text-gray-900 min-[442px]:grid-cols-[1fr,150px]"
  >
    <h3 class="row-start-1 text-lg font-bold">SOMEMORE</h3>
    <span class="row-start-2">Discover Movies and TV Shows</span>
    <a
      class="grid w-fit justify-self-end rounded-full"
      href="https://github.com/Brazy4L/somemore"
      target="_blank"
      rel="noopener"
    >
      <Icon
        class="text-gray-200 col-start-1 row-start-1 justify-self-end z-10 p-2 bg-[#202020] rounded-xl peer/github"
        width="2.5rem"
        height="2.5rem"
        name="simple-icons:github"
      />
      <p
        class="col-start-1 row-start-1 w-0 self-center justify-self-center overflow-hidden rounded-full bg-[#3f3f3f] py-1 pl-4 text-gray-200 transition-[width] ease-cubic hover:w-[110px] min-[442px]:peer-hover/github:w-[110px]"
      >
        GitHub
      </p>
    </a>
    <a
      class="grid w-fit justify-self-end bg-inherit"
      href="https://somemore.vercel.app/"
      target="_blank"
      rel="noopener"
    >
      <Icon
        class="text-gray-200 col-start-1 row-start-1 justify-self-end z-10 p-2 bg-[#202020] rounded-xl peer/vercel"
        width="2.5rem"
        height="2.5rem"
        name="simple-icons:vercel"
      />
      <p
        class="col-start-1 row-start-1 w-0 self-center justify-self-center overflow-hidden rounded-full bg-[#3f3f3f] py-1 pl-4 text-gray-200 transition-[width] ease-cubic hover:w-[150px] min-[442px]:peer-hover/vercel:w-[150px]"
      >
        Deployment
      </p>
    </a>
  </div>
</div>
