---
---

<h2
  class="min-w-max text-2xl min-[442px]:text-3xl min-[646px]:text-4xl font-bold mt-20 px-2"
>
  PROJECTS
</h2>
<img
  class="max-[442px]:w-[160px] max-[646px]:w-[190px] px-2"
  src="/divider.svg"
  alt="Divider"
/>
<ul
  class="font-semibold grid min-[450px]:grid-flow-col gap-6 justify-items-center items-center my-12 px-2"
>
  <li>
    <a
      class="hover:text-[#59C3FF] ease-out duration-300"
      href="https://github.com/Brazy4L/tic-tac-toe"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="mx-auto hover:-translate-y-3 hover:scale-110 ease-out duration-300"
        src="/tictactoe.png"
        alt="Tic-tac-toe project's screenshot"
      />
      Simple game of Tic-Tac-Toe
    </a>
  </li>
  <li>
    <a
      class="hover:text-[#59C3FF] ease-out duration-300"
      href="https://github.com/Brazy4L/todo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="mx-auto hover:-translate-y-3 hover:scale-110 ease-out duration-300"
        src="/todo.png"
        alt="Todo project's screenshot"
      />
      Notes with Local Storage
    </a>
  </li>
</ul>
