---
import { Icon } from 'astro-icon';
---

<style lang="css">
  [astro-icon='simple-icons:html5'] {
    color: #f16524;
  }
  [astro-icon='simple-icons:css3'] {
    color: #31abda;
  }
  [astro-icon='simple-icons:javascript'] {
    color: #fcdc00;
  }
  [astro-icon='simple-icons:nodedotjs'] {
    color: #539e43;
  }
  [astro-icon='simple-icons:typescript'] {
    color: #3178c6;
  }
  [astro-icon='simple-icons:react'] {
    color: #61dafb;
  }
  [astro-icon='simple-icons:tailwindcss'] {
    color: #38bdf8;
  }
  [astro-icon='simple-icons:astro'] {
    color: #ff5d01;
  }
  [astro-icon='simple-icons:adobeillustrator'] {
    color: #ff9a00;
  }
</style>

<h4 class="text-xl font-bold text-gray-200 text-center mt-10">FAVORITE TECH</h4>
<div class="flex flex-row flex-wrap justify-center gap-3 mt-10">
  <Icon width="50px" height="50px" name="simple-icons:html5" />
  <Icon width="50px" height="50px" name="simple-icons:css3" />
  <Icon width="50px" height="50px" name="simple-icons:javascript" />
  <Icon width="50px" height="50px" name="simple-icons:nodedotjs" />
  <Icon width="50px" height="50px" name="simple-icons:typescript" />
  <Icon width="50px" height="50px" name="simple-icons:nextdotjs" />
  <Icon width="50px" height="50px" name="simple-icons:react" />
  <Icon width="50px" height="50px" name="simple-icons:astro" />
  <Icon width="50px" height="50px" name="simple-icons:tailwindcss" />
  <Icon width="50px" height="50px" name="logos:figma" />
  <Icon width="50px" height="50px" name="simple-icons:adobeillustrator" />
</div>
