---
import { Icon } from 'astro-icon';
---

<h2 id="tech" class="text-xl font-bold text-gray-200 text-center mt-10">
  FAVORITE TECH
</h2>
<div class="flex flex-row flex-wrap justify-center gap-3 mt-10">
  <Icon
    class="text-[#f16524]"
    width="50px"
    height="50px"
    name="simple-icons:html5"
    alt="html"
  />
  <Icon
    class="text-[#31abda]"
    width="50px"
    height="50px"
    name="simple-icons:css3"
    alt="css"
  />
  <Icon
    class="text-[#fcdc00]"
    width="50px"
    height="50px"
    name="simple-icons:javascript"
    alt="javascript"
  />
  <Icon
    class="text-[#539e43]"
    width="50px"
    height="50px"
    name="simple-icons:nodedotjs"
    alt="nodejs"
  />
  <Icon
    class="text-[#3178c6]"
    width="50px"
    height="50px"
    name="simple-icons:typescript"
    alt="typescript"
  />
  <div
    class="w-[50px] h-[50px] flex items-center justify-center bg-gray-100 rounded-full"
  >
    <Icon
      class="text-[#000000]"
      width="46px"
      height="46px"
      name="simple-icons:nextdotjs"
      alt="nextjs"
    />
  </div>
  <Icon
    class="text-[#61dafb]"
    width="50px"
    height="50px"
    name="simple-icons:react"
    alt="react"
  />
  <Icon
    class="text-[#ff5d01]"
    width="50px"
    height="50px"
    name="simple-icons:astro"
    alt="astro"
  />
  <Icon
    class="text-[#38bdf8]"
    width="50px"
    height="50px"
    name="simple-icons:tailwindcss"
    alt="tailwind"
  />
  <Icon width="50px" height="50px" name="logos:figma" alt="figma" />
  <Icon
    class="text-[#ff9a00]"
    width="50px"
    height="50px"
    name="simple-icons:adobeillustrator"
    alt="illustrator"
  />
</div>
