---
import { Sprite } from 'astro-icon';
---

<h4 class="text-xl font-bold text-gray-200 text-center mt-10">
  FAVORITE TECH
</h4>
<div class="grid grid-flow-col mt-10">
  <Sprite.Provider>
    <Sprite width="50px" height="50px" name="simple-icons:html5" />
    <Sprite width="50px" height="50px" name="simple-icons:css3" />
    <Sprite width="50px" height="50px" name="simple-icons:javascript" />
    <Sprite width="50px" height="50px" name="simple-icons:typescript" />
    <Sprite width="50px" height="50px" name="simple-icons:react" />
    <Sprite width="50px" height="50px" name="simple-icons:nextdotjs" />
    <Sprite width="50px" height="50px" name="simple-icons:tailwindcss" />
    <Sprite width="50px" height="50px" name="simple-icons:nodedotjs" />
    <Sprite width="50px" height="50px" name="simple-icons:figma" />
    <Sprite width="50px" height="50px" name="simple-icons:adobeillustrator" />
    <Sprite width="50px" height="50px" name="simple-icons:astro" />
  </Sprite.Provider>
</div>